@font-face{
    font-family: 'SourceHanSerifSC-Heavy';
    src: ('./images/SourceHanSerifSC-Heavy.otf')
}
.expense{
    display: flex;
    color:green;
    font-size: 30px;
    font-family: 'SourceHanSerifSC-Heavy'
}